/* ----- FIXES!! ----- */

html {
  font-size: 62.5%;
}

*,
*:before,
*:after {
margin: 0;
padding: 0;
}

/* ----- BODY ----- */
body {
background: rgb(255, 255, 255);
margin: 0;
font-family: 'Open Sans', sans-serif;

max-width: 100%;
font-size: 1vw;
margin: 2%;

}

/* ----- Classes ----- */
section {
  
}

/* pre {
  white-space: pre-wrap;
  
} */

.blog-container {
  white-space: pre-wrap;
  font-family: monospace;
  display: block; /* <pre> is a block-level element by default */
  overflow-wrap: break-word;

  margin-left: -1%;
  
}