/* ----- FIXES!! ----- */

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
box-sizing: inherit;
margin: 0;
padding: 0;
}

html, 
body {
height: 100%;
font-size: 1.6rem;
/* same as 16px using 62.5% fix for rem */
line-height: 1.6;

overflow-x: hidden; /* Hides horizontal overflow */
max-width: 100%;    /* Ensures elements don't exceed viewport width */
}

/* ----- BODY ----- */
body {
background: rgb(255, 255, 255);
margin: 0;
font-family: 'Open Sans', sans-serif;
}

.blog-container {
  font-size: 1vw;
}